<!DOCTYPE html>
<html>
	<head th:replace="~{base::head}"></head>
	
	<body>
		<div th:replace="~{base::logo}" class="logo-container mb-3 p-3 d-flex justify-content-between"></div>
		
		<div class="container">
			<div th:replace="~{base::titulo('Novo Pedido')}"></div>
			
			<div class="card mt-3">
				<form th:object="${pedidoDTO}" class="card-body" action="/pedido/novo" method="POST">
					<div class="mb-3">
						<label for="nomeProduto">Produto</label>
						<input th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control" placeholder="Nome do Produto"/>
						<small>Informe o nome do produto</small>
						<div th:errors="*{nomeProduto}" class="invalid-feedback">
							Erros no campo nome do produto
						</div>
					</div>
					
					<div class="mb-3">
						<label for="urlProduto">URL</label>
						<input th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control" placeholder="URL do Produto"/>
						<small>Informe a URL do produto</small>
						<div th:errors="*{urlProduto}" class="invalid-feedback">
							Erros no campo URL do Produto
						</div>
					</div>
					
					<div class="mb-3">
						<label for="urlImagem">Imagem</label>
						<input th:field="*{urlImagem}" th:errorclass="is-invalid" class="form-control" placeholder="URL da Imagem"/>
						<small>Informe a URL da imagem do produto</small>
						<div th:errors="*{urlImagem}" class="invalid-feedback">
							Erros no campo URL da Imagem
						</div>
					</div>
					
					<div class="mb-3">
						<label for="descricao">Descrição</label>
						<textarea th:field="*{descricao}" class="form-control" placeholder="Adicione uma descrição"></textarea>
					</div>
					<button class="btn btn-primary" type="submit">Cadastrar</button>
				</form>
			</div>
		</div>
	</body>
</html>